h1, nav ul, nav li {
    display: inline;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav input {
    margin-right: 20%;
}

nav li {
    margin: 0 10px;
}

h1 {
    margin-left: 20%;
}

section h1 {
    margin-left: 20%;
}

section {
    display: flex;
    margin: 0 20%;
    justify-content: space-between;
}

img {
    height: 275px;
    width: auto;
    border-radius: 15px;
}

nav {
    background-color: black;
}

nav h1, nav a {
    color: white;
}

html {
    font-size: 16px;
}

nav h1 {
    font-size: 2.25rem;
}

.dark-mode {
    background-color: black;
    color: white;
}

body {
    margin: 0;
}

input:hover {
    background-color: darkgray;
}

p {
    min-width: 225px;
}

@media only screen and (max-width: 800px) {
    nav, nav h1, nav ul, input {
        display: block;
        text-align: center;
    }

    nav h1 {
        margin: 0;
    }

    nav {
        height: auto;
    }

    nav input {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 768px) {
    section, p, img, div{
        display: block;
    }

    img {
        width: 100%;
        height: auto;
    }
}






