h1, nav ul, nav li {
    display: inline;
}

nav ul {
    float: right;
    list-style-type: none;
    margin-top: 14px;
    margin-right: 20%;
}

nav li {
    margin: 0 10px;
}

h1 {
    margin-left: 20%;
}

section h1 {
    margin-left: 20%;
}

main {
    margin-top: 40px;
}

section {
    display: flex;
    margin: 0 20%;
    justify-content: space-between;
}

img {
    height: 275px;
    width: auto;
    border-radius: 15px;
}

nav {
    background-color: black;
}

nav h1, a {
    color: white;
}

html {
    font-size: 16px;
}

nav h1 {
    font-size: 2.25rem;
}






